body{
			padding-left: 250px;
			padding-top: 100px;
		}
.login-box{
	margin:0;
			padding:40px;
			width:800px;
			height:auto;
			background-color:lightgray;
			border-radius:15px;
			border:2px solid gray;
}
.login{
		width:100%;
		margin:10px 0px;
}
.Register{
	padding: 10px;
}